html {
  font-family: 'Roboto Condensed', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-icon:hover {
  transform: scale(1.5);
  color: #f04f25;
}

.social-section {
  margin: auto;
}

.email {
  font-style: bold;
}
